

div{border-radius:20px;
	margin:auto;
	height:50px;
	width:100px;
	border:5px solid red;
	background-color:blue;
	text-align:center;
	}

a{text-decoration: none;
	color:red;}

*{
	font-family: Tahoma;
	background-color: navy;
	color: white;
	}

p{
	text-align: left;
	color: white;
	margin-left: auto;
    margin-right: auto;
    width: 45em

}

img{height: 20%;
	width: 20%;
	margin-left: auto;
    margin-right: auto;
}