

/*div{border-radius:20px;
	margin:auto;
	background-color:blue;
	width:800px;
	border: 50px;
	border-color: navy;
	}
*/

*{
	font-family: Tahoma;
	background-color: navy;
	color: white;}

p{
	text-align: left;
	color: white;
	margin-left: auto;
    margin-right: auto;
    width: 45em}

.mainimg{
	height: 20%;
	width: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;}

h1{
	text-align: center;}

h2{
	margin-left: 225px;}

ul{
	margin-left: 350px;}

.feedbackform{
	;
	margin-left: 200px;
}

#borderleft1{
	display: inline;
	position: absolute;
	left: 0px;
	top:0px;}

#borderright1{
	display: inline;
	position: absolute;
	right: 0px;
	top: 0px;}

#borderleft2{
	display: inline;
	position: absolute;
	left: 0px;
	top:500px;}

#borderright2{
	display: inline;
	position: absolute;
	right: 0px;
	top: 500px;}

#borderleft3{
	display: inline;
	position: absolute;
	left: 0px;
	top:1000px;}

#borderright3{
	display: inline;
	position: absolute;
	right: 0px;
	top: 1000px;}